<div id="footer">
    <section class="bookmarklet">
        <div class="row">
            <div class="large-4 columns">
                <span class="header">{{__ "Bookmarklet"}}</span>
                <span class="description">{{__ "drag this button to your toolbar"}}</span>
                <a class="fanzybutton" href="javascript:var l=window.location.href;window.location.href='{{url}}new?url='+l;">{{__ "Remember"}}</a>
            </div>
            <div class="large-4 columns">
                <span class="header">{{__ "Chrome extension"}}</span>
                <span class="description">{{__ "Download from %s" "google.com"}}:</span>
                <a href="https://chrome.google.com/webstore/detail/remember-the-link/ncapgeledeiafgomdafmafggglddijmf">Go to the webstore page</a>
            </div>
            <div class="large-4 columns">
                <span class="header">{{__ "Firefox extension"}}</span>
                <span class="description">{{__ "Download from %s" "mozilla.org"}}:</span>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/remember-the-link/">Go to the addon page</a>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="row">
            <div class="small-12 columns">
                {{{__ "By %s and %s at %s." '<a href="https://github.com/sigurdga/">sigurdga</a>' '<a href="https://github.com/bergquis/">bergquis</a>' '<a href="http://strekmann.no">Strekmann</a>'}}}
                {{__ "Thoughts, suggestions or complaints?"}} <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#114;&#101;&#109;&#101;&#109;&#98;&#101;&#114;&#116;&#104;&#101;&#108;&#105;&#110;&#107;&#46;&#99;&#111;&#109;">{{__ "Send us an email"}}</a> {{__ "or"}} <a href="https://github.com/strekmann/rememberthelink/issues">{{__ "describe your issues at Github"}}</a>.
            </div>
        </div>
    </section>
</div>
