<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Remember the link</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>{{__ "Menu"}}</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            {{#if user}}
            <li><a href="/tags">{{__ "Tags"}}</a></li>
            <li><a href="/suggestions">{{__ "Suggestions"}}</a></li>
            <li><a href="/friends">{{__ "Friends"}}</a></li>
            <li class="has-dropdown"><a href="/account">{{user.username}}</a>
            <ul class="dropdown">
                <li><a href="/logout">{{__ "Log out"}}</a></li>
            </ul>
            </li>
            {{else}}
            <li><a href="/login">{{__ "Log in"}}</a></li>
            {{/if}}
        </ul>
    </section>
</nav>
