extends ../layout

block content
  section#user-list
    .row
      .columns
        h1= __("All users")
          = " "
          small (#{users.length})

        table
          thead
            tr
              th Name
              th Username
              th Joined
              th Links
              th Active
              th Admin

          tbody
            for user in users
              tr(data-id=user._id)
                td
                  a(href="/profile/"+user._id)= user.name
                td= user.username
                td= longdate(user.created)
                td= user.link_count
                td
                  input.is_active(type="checkbox" checked=(user.is_active ? "checked" : undefined))
                td
                  input.is_admin(type="checkbox" checked=(user.is_admin ? "checked" : undefined))

    .row
      .columns.text-center
        a(href="?page="+previous)= __("Previous")
        | &emsp;
        a(href="?page="+next)= __("Next")

block javascript
  script
    | require('s7n').admin.user_list()
