{{!< main}}
<section id="account">
    <div class="row">
        <div class="large-12 columns">
            <h3>User data</h3>
            <form class="custom">
                <div id="errors"></div>
                <div class="row listair">
                    <div class="large-2 small-3 columns"><label class="right">{{__ "ID"}}</label></div>
                    <div class="large-10 small-9 columns">{{user._id}}</div>
                </div>
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="right inline">{{__ "Username"}}</label></div>
                    <div class="large-10 small-9 columns"><input id="username" type="text" name="username" value="{{user.username}}" /></div>
                </div>
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="right inline">{{__ "Name"}}</label></div>
                    <div class="large-10 small-9 columns"><input type="text" name="name" value="{{user.name}}" /></div>
                </div>
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="right inline">{{__ "Email"}}</label></div>
                    <div class="large-10 small-9 columns"><input type="text" name="email" value="{{user.email}}" /></div>
                </div>
                <div class="row listair">
                    <div class="large-2 small-3 columns"><label class="right">{{__ "Active"}}</label></div>
                    <div class="large-10 small-9 columns">
                        <input type="checkbox" name="active" value="active" {{#if user.is_active}}checked{{/if}} disabled/>
                        <span class="custom checkbox"></span>
                    </div>
                </div>
                <div class="row listair">
                    <div class="large-2 small-3 columns"><label class="right">{{__ "Admin"}}</label></div>
                    <div class="large-10 small-9 columns">
                        <input type="checkbox" name="admin" value="admin" {{#if user.is_admin}}checked{{/if}} disabled/>
                        <span class="custom checkbox"></span>
                    </div>
                </div>
                <div class="row listair">
                    <div class="large-2 small-3 columns"><label class="right">{{__ "Created"}}</label></div>
                    <div class="large-10 small-9 columns">{{user.created}}</div>
                </div>
                <div class="row listair">
                    <div class="large-10 large-offset-2 small-9 small-offset-3 columns"><a id="savebtn" class="button small">{{__ "Save"}}</a></div>
                </div>
            </form>

            <h3>{{__ "Google data"}}</h3>
            <div class="row listair">
                <div class="large-2 small-3 columns"><label class="right">{{__ "Google ID"}}</label></div>
                <div class="large-10 small-9 columns">{{user.google_id}}</a></div>
            </div>
        </div>
    </div>
</section>

{{#content "footer"}}
<script>
    $.s7n.initAccount();
</script>
{{/content}}
