extends layout

block content
  section#account

  script#template(type="text/ractive")
    .row
      .columns
        | {{#info}}
        .alert-box.info(data-alert) {{this}}
          a.close(on-click="closeBox") &times;
        | {{/info}}
        | {{#error}}
        .alert-box.alert(data-alert) {{this}}
          a.close(on-click="closeBox") &times;
        | {{/error}}
    .row
      .columns
        h1= __('User data')

        form(on-submit="updateUser")
          .errors

          .row.listair
            .columns.large-2.small-3
              label.right ID
            .columns.large-10.small-9
              #id {{user._id}}

          .row
            .columns.large-2.small-3
              label.right.inline= __('Username')
            .columns.large-10.small-9
              input#username(type="text" name="username" value="{{user.username}}")

          .row
            .columns.large-2.small-3
              label.right.inline= __('Name')
            .columns.large-10.small-9
              input#name(type="text" name="name" value="{{user.name}}")

          .row
            .columns.large-2.small-3
              label.right.inline= __('E-mail')
            .columns.large-10.small-9
              input#email(type="text" name="email" value="{{user.email}}")

          .row.listair
            .columns.large-2.small-3
              label.right= __('Active')
            .columns.large-10.small-9
              input#is_active(type="checkbox" name="active" checked="{{user.is_active}}" disabled)

          .row.listair
            .columns.large-2.small-3
              label.right= __('Admin')
            .columns.large-10.small-9
              input#is_admin(type="checkbox" name="admin" checked="{{user.is_admin}}" disabled)

          .row.listair
            .columns.large-2.small-3
              label.right= __('Created')
            #created.columns.large-10.small-9 {{user.created}}

          .row.listair
            .columns.large-10.small-9.large-offset-2.small-offset-3
              input#savebtn.button.small(type="submit" value=__("Save"))

        h3= __('Google data')

        .row.listair
          .columns.large-3.small-3
            label.right Google ID
          #google_id.columns.large-10.small-9 {{user.google_id}}


block javascript
  script
    | require('s7n').account.accountView(
    != JSON.stringify(active_user)
    | );
