{{!< main}}
<div id="index">
    <section class="hero">
        <div class="row">
            <div class="large-7 columns">
                <span class="header">remember the link</span>
                <span class="description">{{__ "a place to store and share links"}}</span>
            </div>
            <div class="large-5 columns hide-for-small">
                <img class="right" src="/img/screenshot.png" alt="screenshot"/>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="large-12 columns"><p>We're working on it.</p></div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h2>Popular tags</h2>
                <ul>
                    {{#each tags}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p>Total number of tags: {{tag_count}}</p>
            </div>
            <div class="large-6 columns">
                <h2>Popular urls</h2>
                <ul>
                    {{#each urls}}
                    <li><a href="{{this}}">{{displayurl this}}</a></li>
                    {{/each}}
                </ul>
                <p>Total number of urls: {{url_count}}</p>
            </div>
        </div>
    </section>

    <section class="bookmarklet">
        <div class="row">
            <div class="large-6 columns large-centered">
                <span class="header">bookmarklet</span>
                <span class="description">{{__ "drag this button to your toolbar"}}</span>
                <a class="fanzybutton" href="javascript:var l=window.location.href;window.location.href='{{url}}/new?url='+l;">Remember</a>
            </div>
        </div>
    </section>
</div>

{{#content "footer"}}
<script>
    $(document).s7n.initIndex();
</script>
{{/content}}
