{{!< main}}
<div id="index">
    <section class="hero">
        <div class="row">
            <div class="large-7 columns">
                <span class="header">remember the link</span>
                <span class="description">{{__ "a place to store and share links"}}</span>
            </div>
            <div class="large-5 columns hide-for-small">
                <img class="right" src="/img/screenshot.png" alt="screenshot"/>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="bubbles">
            <img src="/img/bubbles.png">
            <div class="row">
                <div class="small-4 columns text-center"><p>{{__ "Add"}}</p></div>
                <div class="small-4 columns text-center"><p>{{__ "Tag"}}</p></div>
                <div class="small-4 columns text-center"><p>{{__ "Share"}}</p></div>
            </div>
        </div>
        <div class="row description">
            <div class="small-12 columns">
                <p>{{__ "Rememberthelink is a web tool where you can save, tag and share the links you find interesting, important or otherwise want to remember."}}</p>
                <p>{{{__ "We do our development in public on %s, you can install Rememberthelink on your own server, and we make sure our export and import scripts are always tested." '<a href="http://github.com">Github</a>'}}}</p>
                <p>{{__ "We will admit we started this project because we were a bit unhappy about similar tools we knew about. And we did it to learn Node.js better."}}</p>
            </div>
        </div>
        <div class="row popular">
            <div class="large-6 columns">
                <h2>{{__ "Popular tags"}}</h2>
                <ul class="tags">
                    {{#each tags}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p>{{__ "Total number of tags"}}: {{tag_count}}</p>
            </div>
            <div class="large-6 columns">
                <h2>{{__ "Popular urls"}}</h2>
                <ul class="urls">
                    {{#each urls}}
                    <li><a href="{{this}}">{{displayurl this}}</a></li>
                    {{/each}}
                </ul>
                <p>{{__ "Total number of urls"}}: {{url_count}}</p>
            </div>
        </div>
    </section>

    <section class="bookmarklet">
        <div class="row">
            <div class="large-6 columns">
                <span class="header">{{__ "Bookmarklet"}}</span>
                <span class="description">{{__ "drag this button to your toolbar"}}</span>
                <a class="fanzybutton" href="javascript:var l=window.location.href;window.location.href='{{url}}new?url='+l;">{{__ "Remember"}}</a>
            </div>
            <div class="large-6 columns">
                <span class="header" href="https://addons.mozilla.org/en-US/firefox/addon/remember-the-link/">{{__ "Firefox extension"}}</span>
                <span class="description">{{__ "Download from %s" "mozilla.org"}}:</span>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/remember-the-link/">Go to the addon page</a>
            </div>
        </div>
    </section>
</div>

{{#content "footer"}}
<script>
    require('s7n').base.indexView();
</script>
{{/content}}
