doctype html

html(lang=lang dir=lang_dir)
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Strekmann")
    link(href="/css/site.css" rel="stylesheet")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(src="/js/modernizr.js")
    link(rel="shortcut icon" href="/img/favicon.png")

  body
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="/")= __("Boilerplate")

      section.top-bar-section
        ul.right
          if currentUser
            li
              a(href="/account")= __("Account")
            li
              a(href="/logout")= __("Logout")
          else
            li
              a(href="/login")= __("Login")

    block content

    script(src="/js/vendor.js")
    script(src="/js/site.js")

    script.
      $(document).foundation();

    block javascript
