doctype html

html(lang=lang dir=lang_dir)
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Strekmann")
    link(href="/css/styles.css?"+stamp rel="stylesheet")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(src="/js/modernizr.js")
    link(rel="shortcut icon" href="/img/favicon.png")

  body
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="/")= __("Remember the link")
        li.toggle-topbar.menu-icon
          a(href="#")
            span

      section.top-bar-section
        ul.right
          if active_user
            li
              a#suggestion-count(href="/suggestions")
            li
              a(href="/friends")
                i.fa.fa-users.fa-fw.fa-lg
                |  
                = __("Friends")
            li
              a(href="/tags")
                i.fa.fa-tag.fa-fw.fa-lg
                |  
                = __("Tags")
            li
              a(href="/account")
                i.fa.fa-user.fa-fw.fa-lg
                |  
                = active_user.name
            li
              a(href="/logout")
                i.fa.fa-sign-out.fa-fw.fa-lg
          else
            li
              a(href="/login")= __("Login")

    section#content
      block content

    footer#footer
      block footer
        if show_buttons
          section.bookmarklet
            .row
              .large-4.columns
                span.header= __("Bookmarklet")
                span.description= __("drag this button to you toolbar")
                a.fanzybutton(href="javascript:var l=window.location.href;window.location.href='" + url + "new?url='+l;")= __("Remember")
              .large-4.columns
                span.header= __("Chrome extension")
                span.description= __("Download from google.com")
                a.fanzybutton(href="https://chrome.google.com/webstore/detail/remember-the-link/ncapgeledeiafgomdafmafggglddijmf")= __("Go to the webstore page")
              .large-4.columns
                span.header= __("Firefox extension")
                span.description= __("Download from mozilla.org")
                a.fanzybutton(href="https://addons.mozilla.org/en-US/firefox/addon/remember-the-link/")= __("Go to the addon page")

        section.about
          .row
            .columns
              | By 
              a(href="https://github.com/sigurdga/") sigurdga 
              | and 
              a(href="https://github.com/bergquis/") bergquis
              | . 
              = __("Thoughts, suggestions or complaints?")
              | 
              a(href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#114;&#101;&#109;&#101;&#109;&#98;&#101;&#114;&#116;&#104;&#101;&#108;&#105;&#110;&#107;&#46;&#99;&#111;&#109;")= __("Send us an email")
              |  or 
              a(href="https://github.com/strekmann/rememberthelink/issues")= __("describe your issues at Github")
              | .

    script#suggestion-count-template(type="text/ractive")
      | {{#if suggestions}}
      i.fa.fa-comment.fa-fw.wrap.fa-lg.has_suggestions
        span {{suggestions}}
      | {{else}}
      i.fa.fa-comment.fa-fw.wrap.fa-lg
      | {{/if}}
      |  
      = __("Suggestions")
    script(src="/js/vendor.js?"+stamp)
    script(src="/js/site.js?"+stamp)

    script.
      var doc = $(document);
      doc.foundation();

      var scroll_added;
      doc.scroll(function(e){
        if (doc.scrollTop() > 5){
          if (scroll_added) { return; }
          scroll_added = true;
          $('body').addClass('scroll');
        }
        else {
          $('body').removeClass('scroll');
          scroll_added = false;
        }
      });

    script
      | require('s7n').suggestions.set('suggestions',
      = suggestion_count
      | );

    block javascript
