extends ../layout

block content
  section#links-index
  #modal.reveal-modal(data-reveal)
    a.close-reveal-modal &#215;

  script#modal-template(type="text/ractive")
    | {{#error}}
    .row
      .columns
        .alert-box.alert
          | {{error}}
    | {{/error}}

    .row
      .columns
        h2= __('Edit link')
    form.edit(on-submit="updateLink")
      .row
        .columns
          label(for="edit-title")= __("Title")
          input#edit-title(value="{{.link.title}}" type="text" required)
      .row
        .columns
          label(for="edit-description")= __("Description")
          textarea#edit-description(value="{{.link.description}}")
      .row
        .columns
          label(for="edit-tags")= __("Tags")
          input#edit-tags(value="{{.link.tags}}" type="text")
      .row
        .columns
          button= __("Save")
          button.secondary(on-click="closeModal")= __("Cancel")
    a.close-reveal-modal &#215;


  script#template(type="text/ractive")
    .row
      .columns.large-8.large-centered
        | {{#expanded}}
        form.new(on-submit="saveLink")
          .row
            .columns
              input#url(type="text" name="url" placeholder=__("http://new.link.now") value="{{.link.url}}" disabled)
          .row
            .columns
              input#title(type="text" name="title" placeholder=__("Title") value="{{.link.title}}")
          .row
            .columns
              textarea#description(type="text" name="description" placeholder=__("Description") value="{{.link.description}}")
          .row
            .columns
              input#tags(type="text" name="tags" placeholder=__("Tags") value="{{.link.tags}}")
          .row
            .columns
              button= __("Save")
              button.secondary(on-click="cancel")= __("Cancel")
        | {{/expanded}}
        | {{^expanded}}
        form.new(on-submit="addLink")
          .row.collapse
            .columns.small-10
              input#url(type="text" name="url" placeholder=__("http://new.link.now") value="{{.link.url}}")
            .columns.small-2
              button.button.prefix=__("Fetch")
        | {{/expanded}}
    .row
      .columns
        ul.links
          | {{#links}}
          li.clearfix.link
            div
              h2.title
                a(href="{{.url}}") {{.title}}
              .controls
                | {{^.confirmDelete}}
                | {{#.private}}
                i.fa.fa-shield(title=__("Private"))
                | {{/.private}}

                a.share(title=__("Share") data-trans-share=__("share"))
                  i.fa.fa-share

                a.edit(title=__("Edit") data-trans-edit=__("edit") on-click="edit")
                  i.fa.fa-edit

                a.delete(title=__("Delete") on-click="toggleDelete")
                  i.fa.fa-trash-o
                | {{/.confirmDelete}}

                | {{#.confirmDelete}}
                span= __('delete')
                  | ?
                a.sure(on-click="deleteLink")= __('yes')
                a(on-click="toggleDelete")= __('no')
                | {{/.confirmDelete}}
              .subtext
                span.date(title="{{isodate(.created)}}") {{shortdate(.created)}}
                | &nbsp;
                i.fa.fa-link
                  span.url {{.url}}
              .description {{.description}}
              .tags
                i.fa.fa-tags
                | {{#tags}}
                a.tag(href="/tags/{{.}}") {{.}}
                | {{/tags}}
          | {{/links}}

block javascript
  script
    | require('s7n').links.indexView(
    != JSON.stringify(links)
    | );
