{{!< main}}
<section id="links_index">
    <div class="row">
        <div class="large-8 columns large-centered">
            <form class="new" action="/new">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input id="url" type="text" name="url" placeholder="{{__ 'http://new.link.now/'}}">
                    </div>
                    <div class="small-2 columns">
                        <button class="button prefix">{{__ "Save"}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <ul class="links">
                {{#each links}}
                <li class="clearfix link">
                    <div>
                        <h2 class="title"><a href="{{url}}">{{title}}</a></h2>
                        <div class="controls">
                            {{#if private}}<i title="{{__ 'Private'}}" class="icon-shield"></i>{{/if}}
                            <a title="{{__ 'Share'}}" class="share" data-trans-share="{{__ 'share'}}"><i class="icon-share"></i></a>
                            <a title="{{__ 'Edit'}}" class="edit" href="edit/{{_id}}"><i class="icon-edit"></i></a>
                            <a title="{{__ 'Delete'}}" class="delete"><i class="icon-remove"></i></a>
                            <a class="sure" style="display: none">{{__ 'delete'}}!</a>
                        </div>
                        <div class="subtext">
                            <span class="date" title="{{datetimeformat created format="lll"}}">{{datetimeformat created format="Do MMM"}}</span>&nbsp;
                            <i class="icon-link"></i> <span class="url">{{url}}</span>
                        </div>
                        <div class="description">{{description}}</div>
                        <div class="tags">
                            <i class="icon-tags"></i>
                            {{#each tags}}
                            <a class="tag" href="/tags/{{this}}">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="text-align: center; margin-bottom: 20px;">
            <a href="?page={{previous}}">{{__ "Previous"}}</a>
            ·
            <a href="?page={{next}}">{{__ "Next"}}</a>
        </div>
    </div>
</section>


<script type="text/template" id="template-share">
    <form class="followers" method="post" action="/share">
        <div class="row collapse">
            <div class="small-10 columns">
                <input type="hidden" name="url" value="<%- rc.url %>">
                <select class="" multiple name="id">
                <% _.each( rc.followers, function(follower){ %>
                    <option value="<%- follower._id %>"><%- follower.username %></option>
                <% }); %>
                </select>
            </div>
            <div class="small-2 columns">
                <button class="button prefix" type="submit"><%- rc.share_translation %></button>
            </div>
        </div>
    </form>
</script>


{{#content "footer"}}
<script>
    require('s7n').links.indexView();
</script>
{{/content}}
