{{!< main}}
<div class="large-12 columns">
    <form action="new">
        <div id="errors"></div>
        <div class="row collapse">
            <div class="small-10 columns">
                <input id="url" type="text" name="url" placeholder="http://new.link.now/">
            </div>
            <div class="small-2 columns">
                <button class="button prefix">Save</button>
            </div>
        </div>
    </form>

    {{#each links}}
    <div class="clearfix">
        <form action="edit" method="post" style="display:none" class="editform">
            <input type="text" class="title" name="title" value="{{title}}">
            <input type="text" class="description" name="description" value="{{description}}">
            <input type="hidden" name="url" value="{{url}}">
            <div class="right">
                <a href="" class="cancel_edit button secondary">Cancel</a>
                <button class="submit">Send</button>
            </div>
        </form>
        <div class="link">
            <a href="{{url}}" class="title" style="font-size: 1.5em; font-weight: bold; display: block; margin-top: 20px;">{{title}}</a>
            <span>{{ago created}}</span>,
            by <span>{{creator.name}}</span>
            <a class="edit">edit</a>
            <a class="delete">delete</a>
            <a class="sure" style="display:none">Sure?</a>
            <br>
            <span>{{url}}</span> —
            <span class="description">{{description}}</span>
        </div>
    </div>
    {{/each}}
    <hr>
    <h1>Bookmarklet</h1>
    <p>Drag this button to your toolbar</p>
    <a class="button" href="javascript:var l=window.location.href;window.location.href='{{url}}new?url='+l;">Remember</a>
    {{url}}
</div>

{{#content "footer"}}
<script>
$(document).foundation();
$(document).s7n.initLinks();
</script>
{{/content}}
