{{!< main}}
<section id="links_new">
    <div class="row">
        <div class="large-12 columns">
            <h2>Add new link</h2>
            {{#if link}}
            <form class="custom" method="post" action="/new">
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="inline right">{{__ 'URL'}}</label></div>
                    <div class="large-10 small-9 columns"><input id="url" type="text" name="url" value="{{link.url}}"></div>
                </div>
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="inline right">{{__ 'Title'}}</label></div>
                    <div class="large-10 small-9 columns"><input id="title" type="text" name="title" value="{{link.title}}"></div>
                </div>
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="inline right">{{__ 'Description'}}</label></div>
                    <div class="large-10 small-9 columns"><input id="description" type="text" name="description"></div>
                </div>
                <div class="row">
                    <div class="large-2 small-3 columns"><label class="inline right">{{__ 'Tags'}}</label></div>
                    <div class="large-10 small-9 columns"><input id="tags" type="text" name="tags" style="width: 100%;"></div>
                </div>
                <div class="row listunderair">
                    <div class="large-2 small-3 columns"></div>
                    <div class="large-10 large-offset-2 small-9 small-offset-3 columns">
                        <label for="private"><input id="private" type="checkbox" name="private"> {{__ 'Private'}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-10 large-offset-2 small-9 small-offset-3 columns">
                        <button id="savebtn" class="small button">{{__ 'Save'}}</button>
                        <button type="button" class="cancel_new small button secondary">{{__ "Cancel"}}</button>
                    </div>
                </div>
            </form>
            {{else}}
            <div class="row">
                <div class="large-8 large-centered columns">
                    <form class="new" method="get" action="/new">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input id="url" type="text" name="url" placeholder="http://new.link.now/" value="{{url}}" class="{{#if errors}}error{{/if}}">
                                {{#each errors}}
                                <small class="error">{{msg}}</small>
                                {{/each}}
                            </div>
                            <div class="small-2 columns">
                                <button id="savebtn" class="button prefix">{{__ "Save"}}</button>
                                <button type="button" class="cancel_new small button secondary">{{__ "Cancel"}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section>


{{#content "footer"}}
<script>
    require('s7n').links.newView();
</script>
{{/content}}
