extends ../layouts/main

block content
  section#links_new
    .row
      .columns
        h2= __("Add new link")

        if link
          form.custom(method="post" action="/new")
            .row
              .columns.medium-2.small-3
                label.inline.right= __("URL")
              .columns.medium-10.small-9
                input#url(type="text" name="url" value=link.url)
            .row
              .columns.medium-2.small-3
                label.inline.right= __("Title")
              .columns.medium-10.small-9
                input#title(type="text" name="title" value=link.title)
            .row
              .columns.medium-2.small-3
                label.inline.right= __("Description")
              .columns.medium-10.small-9
                input#description(type="text" name="description" value=link.description)
            .row
              .columns.medium-2.small-3
                label.inline.right= __("Tags")
              .columns.medium-10.small-9
                input#tags(type="text" name="tags" style="width: 100%;")
            .row.listunderair
              .columns.medium-2.small-3
              .columns.medium-10.medium-offset-2.small-9.small-offset-3
                label(for="private")
                  input#private(type="checkbox" name="private")= __("Private")
            .row
              .columns.medium-10.medium-offset-2.small-9.small-offset-3
                button#savebtn.small.button= __("Save")
                button.cancel_new.small.button.secondary(type="button")= __("Cancel")
        else
          .row
            .columns.medium-8.medium-centered
              form.new(method="get" action="/new")
                .row.collapse
                  .columns.small-10
                    if errors
                      input#url(type="text" name="url" placeholder=__("http://new.link.now/"))
                      each error in errors
                        small.error= error.msg
                    else
                      input#url(type="text" name="url" placeholder=__("http://new.link.now/") value=link.url)
                  .columns.small-2
                    button#savebtn.button.prefix= __("Save")
                    button.cancel_new.small.button.secondary(type="button")= __("Cancel")


