{{!< main}}
<section id="links-suggestions">
    <div class="row">
        <div class="small-12 columns">
            <h2>{{__ 'Suggested links'}}</h2>
            <ul class="links">
                {{#each suggestions}}
                <li class="clearfix link">
                    <div>
                        <h2 class="title"><a href="{{url}}">{{title}}</a></h2>
                        <div class="controls">
                            <a title="{{__ 'Accept'}}" class="accept"><i class="icon-ok"></i></a>
                            <a title="{{__ 'Reject'}}" class="reject"><i class="icon-remove"></i></a>
                        </div>
                        <div class="subtext">
                            <span class="date" title="{{datetimeformat created format="lll"}}">{{datetimeformat created format="Do MMM"}}</span>&nbsp;
                            <i class="icon-link"></i> <span class="url">{{url}}</span>
                        </div>
                        <div class="description">{{description}}</div>
                    </div>
                </li>
                {{else}}
                    <li>{{__ "No suggestions for you at the momemt."}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>

{{#content "footer"}}
<script>
    require('s7n').links.suggestionsView();
</script>
{{/content}}
