{{!< main}}
<div class="large-12 columns">
    {{#each suggestions}}
    {{#canRead ../user}}
    <div class="clearfix">
        {{#canChange ../../user}}
        <form action="/accept" method="post" style="display:none" class="suggestform">
            <input type="text" class="title" name="title" value="{{title}}">
            <input type="text" class="description" name="description" value="{{description}}">
            <input type="text" class="tags" name="tags" value="{{joined_tags}}">
            <input type="checkbox" class="private" name="private"{{#if private}} checked{{/if}}>
            <input type="hidden" name="url" value="{{url}}">
            <div class="right">
                <a href="" class="cancel_edit button secondary">Cancel</a>
                <button class="submit">Send</button>
            </div>
        </form>
        {{/canChange}}
        <div class="link" title="{{description}}">
            <a href="{{url}}" class="title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 1.5em; font-weight: bold; display: block; margin-top: 20px;">{{title}}</a>
            <span>{{ago created}}</span>,
            by <span>{{from}}</span>
            {{#canChange ../../user}}
            <a class="accept">accept</a>
            <a class="reject">reject</a>
            <a class="sure" style="display:none">Sure?</a>
            {{/canChange}}
            <span class="private"{{#unless private}} style="display: none"{{/unless}}>private</span>
            <br>
            <span>{{url}}</span>
        </div>
    </div>
    {{/canRead}}
    {{/each}}
</div>

{{#content "footer"}}
<script>
    $.s7n.initLinks();
</script>
{{/content}}
