extends ../layout.jade

block content

  section#friends

  script#friends-template(type="text/ractive")
    .row
      .columns
        h1= __("Find friends")
        form(on-submit="addFriend")
          .row.collapse
            .columns.small-10
              input(type="text" name="query" value="{{query}}" placeholder=__("username"))
            .columns.small-2
              button.postfix= __("Add")

    .row
      .columns
        | {{#if error}}
        .error-text
          | {{error}}
        | {{else}}
        .text-center.usercount
          span= user_count
          |  
          span= __("users to find")
        | {{/if}}

    .row
      .columns
        h2.dark= __("You are following")
        | {{#following}}
        p
          a(href="/profile/{{_id}}") {{.name}}
          | &nbsp;
          a.dark.hover-alert(on-click="removeFriend")
            i.fa.fa-times
        | {{else}}
        p
          em= __("None")
        | {{/following}}

    .row
      .columns
        h2.dark= __("People following you")
        | {{#followers}}
        p
          a(href="/profile/{{_id}}") {{.name}}
        | {{else}}
        p
          em= __("None")
        | {{/followers}}

block javascript
  script
    | require('s7n').friends.index(
    != JSON.stringify(active_user.following)
    | ,
    != JSON.stringify(active_user.followers)
    | );
