{{!< main}}
<section id="links-profile">
    <div class="row">
        <div class="large-12 columns">
            <h2>{{profile.name}} <small>[{{profile.username}}]</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">
            <ul class="links">
                {{#each links}}
                <li class="clearfix link">
                <div>
                    <h2 class="title"><a href="{{url}}">{{title}}</a></h2>
                    <div class="controls">
                        <a title="{{__ 'Copy'}}" class="grab"><i class="icon-copy"></i></a>
                    </div>
                    <div class="subtext">
                        <span class="date" title="{{datetimeformat created format="lll"}}">{{datetimeformat created format="Do MMM"}}</span>&nbsp;
                        <i class="icon-link"></i> <span class="url">{{url}}</span>
                    </div>
                    <div class="tags">
                        <i class="icon-tags"></i>
                        {{#each tags}}
                        <a class="tag" href="/tags/{{this}}">{{this}}</a>
                        {{/each}}
                    </div>
                </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="large-2 columns">
            <h4 class="dark">{{__ "Top tags"}}</h4>
            <ul>
                {{#each tags}}
                <li>
                    <span class="count">{{this.count}}</span>
                    <span class="text"><a href="/tags/{{this.text}}">{{this.text}}</a></span>
                </li>
                {{else}}
                <li>{{__ "No tags registered"}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="text-align: center; margin-bottom: 20px;">
            <a href="?page={{previous}}">{{__ "Previous"}}</a>
            ·
            <a href="?page={{next}}">{{__ "Next"}}</a>
        </div>
    </div>
</section>

{{#content "footer"}}
<script>
    require('s7n').friends.profileView();
</script>
{{/content}}
